.header {
    position: relative;
    width: 100%;
    width: 100%;
    margin: 0 auto;
}
.header .menu__icon {
    display: block;
} 
.barra {
    background-color: #bf4f4e;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.barra a {
    color: #fff;
    text-decoration: none;
    padding-left: 1%;
}
.lableIt {
    line-height: 20px;
    font-size: 0.8rem;
    color:#2B2E4A;
    font-family: 'Krona One', sans-serif;
    letter-spacing: 1px;
  }
  .menu, .menu__btn{
    display:none;
}
