.footer {
    background-color: #ABC07F;
    height: 100px;
    width: 100%;
    
}
.hojaFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 3%;
}
.hojaFooter a {
    color: #fff;
    text-decoration: none;
    padding-left: 6px;
}